<div class="fluid-container col-md-12 col-sm-12 col-xs-12">
    <div id="wrapper">
        <!-- Page Content  -->
        <div style="margin-top:80px;">
            <div id="page-inner">
            	<div class="row">
            		<!-- Panel Block Start -->
             		<div class="btn btn-default" ng-show="showDonut"  ng-repeat="element in product.list" 
							  ng-click="selectProduct('{{$index}}')">
							  Product Name: {{element.name}}</div>
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 shadow1
							div_opacity_animation" ng-class="{div_fade_in: loading}">
						<br/>
						<h3 ng-show="showDonut" style="text-align:center;background-color:#7BB661">{{product.selected.name}}</h3>
						<div ng-show="showDonut" id="myDonut"></div>
						<div>
							<strong class="text-primary cursor-default" style="font-size:20px;">Technical Skills Background</strong>
							<a class="pull-right decoration-default" 
								href="{{basic.linkedinUrl}}" target="_blank">
								<i class="glyphicon glyphicon-share" data-toggle="tooltip" title="View More Details"></i>
							</a>
						</div>
						<div>
							<hr/>
							<div>
							  <md-content>
							    <md-tabs md-dynamic-height md-border-bottom>
							      <md-tab label="{{skill.title}}" ng-repeat="skill in skills">
							        <md-content class="md-padding">
							          <h1 class="md-display-2">{{skill.title}}</h1>
							          <p style="font-size: 20px;"><strong>{{skill.description}}</strong></p>
							          	<span style="font-size:20px;background-color:#D1E2B3;" ng-repeat="word in skill.keywords" class="badge">{{word}}</span>
							        </md-content>
							      </md-tab>
							    </md-tabs>
							  </md-content>
							</div>
							<hr/>
						</div>					
					</div>
					<!-- Panel Block End -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
						<br/>
						<hr/>
						<br/>
					</div>
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 shadow1 	
								div_opacity_animation" ng-class="{div_fade_in: loading}">
						<br/>
						<div>
							<strong class="text-primary cursor-default" style="font-size:20px;">Industrial Experience</strong>
							<a class="pull-right decoration-default" 
								href="{{basic.linkedinUrl}}" target="_blank">
								<i class="glyphicon glyphicon-share" data-toggle="tooltip" title="View More Details"></i>
							</a>
						</div>
						<div>
							<hr/>
							<blockquote class="blockquote-reverse bg-info" ng-repeat="experience in experiences">
								<p><strong class="font20">{{experience.title}}</strong>
								   <span>{{experience.company}}</span>
								   <small>{{experience.timespan}} | {{experience.location}}</small>
								</p>
								<footer>Linkedin Profolio 
									<cite title="Linkedin Profolio Link">
										<a href="{{basic.linkedinUrl}}" target="_blank">{{basic.name}}</a>
									</cite>
								</footer>
							</blockquote>							
						</div> 					
					</div>
					<!-- Panel Block End -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
						<br/>
						<hr/>
						<br/>
					</div>
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 shadow1
						div_opacity_animation" ng-class="{div_fade_in: loading}">
						<br/>
						<div>
							<strong class="text-primary cursor-default" style="font-size:20px;">Education</strong>
							<a class="pull-right decoration-default" 
								href="{{basic.linkedinUrl}}" taget="_blank">
								<i class="glyphicon glyphicon-share" data-toggle="tooltip" title="View More Details"></i>
							</a>
						</div>
						<div>
							<hr/>
							<blockquote class="blockquote-reverse bg-success" ng-repeat="education in educations">
								<p><strong class="font20">{{education.degree}}</strong>
								   <span>{{education.name}}</span>
								   <small>{{education.timespan}} | {{education.location}}</small>
								</p>
								<footer>Linkedin Profolio 
									<cite title="Linkedin Profolio Link">
										<a href="{{basic.linkedinUrl}}" target="_blank">{{basic.name}}</a>
									</cite>
								</footer>
							</blockquote>									
						</div>					
					</div>	
					<!-- Panel Block End -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
						<br/>
						<hr/>
						<br/>
					</div>
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 shadow1
						div_opacity_animation" ng-class="{div_fade_in: loading}">
						<br/>
						<div>
							<strong class="text-primary cursor-default" style="font-size:20px;">Undergoing Projects</strong>
							<a class="pull-right decoration-default" 
								href="{{basic.linkedinUrl}}" target="_blank">
								<i class="glyphicon glyphicon-share" data-toggle="tooltip" title="View More Details"></i>
							</a>
						</div>
						<div>
							<hr/>
							<blockquote class="blockquote-reverse bg-warning">
								<p><strong class="font20">My Blog</strong>
								   <span>Freelancer Fullstack Web Developer</span>
								   <small>Team Project | Phoenix, Arizona Area</small>
								</p>
								<footer>Github Repository 
									<cite title="Github Repo Link">
										<a href="{{basic.githubUrl}}/Blog" target="_blank">Kevin Zeng</a>
									</cite>
								</footer>
							</blockquote>
							<blockquote class="blockquote-reverse bg-warning">
								<p>
								   <strong class="font20">
									Chef Repo for Continuous Deployment
								   </strong>
								   <span>Freelancer DevOps Engineer</span>
								   <small>Team Project | Phoenix, Arizona Area</small>
								</p>
								<footer> Docker Hub Repository
									<cite title="Docker Hub Repo Link">
										<a href="" target="_blank">Kevin Zeng</a>
									</cite>
								</footer>
								<footer> Github Repository 
									<cite title="Github Repo Link">
										<a href="{{basic.githubUrl}}/chef-repo" target="_blank">Kevin Zeng</a>
									</cite>
								</footer>										
							</blockquote>									
						</div>					
					</div>	
					<!-- Panel Block End -->				
				</div>
            </div>
        </div>
    </div>
</div>