

<div class="fluid-container col-md-12 col-sm-12 col-xs-12">
	<div id="wrapper">
	    <!-- Page Content  -->
	    <div style="margin-top:80px;" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
	        <div id="page-inner">

		      <form class="form-signin" autocomplete="off">
		        <h2 class="form-signin-heading">Admin Sign In</h2>
		        <label for="inputEmail" class="sr-only">Email address</label>
		        <input id="inputEmail" ng-model="admin.email" class="form-control" placeholder="Email address" autocomplete="off" required autofocus>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="inputPassword" ng-model="admin.password" class="form-control" placeholder="Password" autocomplete="off" required>
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me" ng-model="admin.rememberMe"> Remember me
		          </label>
		        </div>
		        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signinAsAdmin(admin)">Sign In</button>
		        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signinAsGuest()">Not Admin? Signin as Guest</button>
		      </form>
			</div>
		</div>
	</div>

</div>