<div class="col-md-12 col-sm-12 col-xs-12">
	<!-- Page Content  -->
	<div style="margin-top:80px;">
		<!-- Main Block -->
	    <div class="div_opacity_animation" ng-class="{div_fade_in: loading}">    
	    	<!-- Row -->   
	        <div class="row">
				<form class="form-inline">
				  <div class="form-group col-md-3 col-sm-12 col-xs-12">
					  <md-input-container>
				        <label>Post Timeline</label>
				        <md-select ng-model="query.timeline" style="background: #FFFFFF">
				          <md-option ng-repeat="timeline in query.timelines" value="{{timeline.name}}" ng-selected="$first">
				            {{timeline.name}}
				          </md-option>
				        </md-select>
				      </md-input-container>
				  </div>
				  <div class="form-group col-md-5 col-sm-12 col-xs-12">
					  <md-input-container>
				        <label style="width:200%">Seach by Title, Date, Author</label>
	            	    <input type="text" ng-model="query.search" style="width:200%;background:#FFFFFF"/>
				      </md-input-container>
				  </div>
				</form>
	        </div>
	        <!-- ./Row -->
	        <hr />
	        <!-- Row -->
	        <div class="row">
	            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="category in posts.category">     
					<div class="panel panel-back noti-box shadow1">
		                <span class="icon-box bg-color-red set-icon mouseDefault" 
		                	  ng-if="category.type === 'Angular'">
		                    <i class="fa fa-envelope-o"></i>
		                </span>
		                <span class="icon-box bg-color-green set-icon mouseDefault" 
		                	  ng-if="category.type === 'Spring'">
		                    <i class="fa fa-envelope-o"></i>
		                </span>	
		                <span class="icon-box bg-color-blue set-icon mouseDefault" 
		                	  ng-if="category.type === 'MongoDB'">
		                    <i class="fa fa-envelope-o"></i>
		                </span>	
		                <span class="icon-box bg-color-brown set-icon mouseDefault" 
		                	  ng-if="category.type === 'OpenFire'">
		                    <i class="fa fa-envelope-o"></i>
		                </span>			                		                		                
		                <div class="text-box" >
		                    <p class="main-text mouseDefault">{{category.type}}</p>
		                    <p class="text-muted mousePointer">
		                    	<a ng-click="showCategory(category)">Posts({{category.postCount}})</a>
		                    </p>
		                </div>
		             </div>
				</div>
	     	</div>
	    	<!-- ./Row -->
	        <hr />       
	        <!-- Row -->
	        <div class="row">
	        	<!-- Highlighted Post Content Block Start -->
	            <div class="col-md-3 col-sm-12 col-xs-12" style="position:relative">
	                <div class="panel shadow1">
			            <div class="panel-body">
			                <div class="col-md-12">
			                	<i class="fa fa-cloud fa-3x"></i>
			                	<strong class="text-success">Highlighted Posts</strong>
			                </div>
			                <hr/>
			                <div class="col-md-12">
			                  <div class="text-info margin0">
			                  	<strong>
			                  		<a style="cursor:pointer">Highlighted Post 1, HyperLink Here</a>
			                  	</strong>
			                  </div>
			                  <div class="text-info margin0">
			                  	<strong>
			                  		<a style="cursor:pointer">Highlighted Post 2, HyperLink Here</a>
			                  	</strong>
			                  </div>
			                  <div class="text-info margin0">
			                  	<strong>
			                  		<a style="cursor:pointer">Highlighted Post 3, HyperLink Here</a>
			                  	</strong>
			                  </div> 
			                  <div class="text-info margin0">
			                  	<strong>
			                  		<a style="cursor:pointer">Highlighted Post 4, HyperLink Here</a>
			                  	</strong>
			                  </div>			                  			                  
			                </div>
			            </div>
	      			</div>
	    		</div>
	    		<!-- Highlighted Post Content Block End -->
				<!-- Current Active Post Content Block Start -->
	            <div class="col-md-9 col-sm-12 col-xs-12 pull-right" 
	            	 ng-repeat="post in posts.currentView | filter: query.search">   
					<div class="panel panel-back noti-box shadow1">
		                <span class="icon-box bg-color-blue">
		                    <i class="fa fa-warning"></i>
		                </span>
		                <div class="text-box" >
		                    <p class="main-text">{{post.title}}</p>
		                    <p class="text-muted">posted by: {{post.author}}</p>
		                    <p class="text-muted">Post Created Date: {{post.createdDate}}</p>
		                    <hr />
		                    <p class="text-muted">
		                        <span class="text-muted color-bottom-txt">
		                        	<i class="fa fa-edit"></i>
									{{post.contentLink}} 
		                        </span>
		                    </p>
		                </div>
		            </div>
			    </div>
			    <!-- Current Active Post Content Block End -->
	    	</div>
			<!-- ./Row -->      
		</div>
		<!-- ./Main Block -->
	</div>
	<!-- ./Page Content  -->
</div>

