<div class="col-md-12 col-sm-12 col-xs-12">
    <div id="wrapper">
        <div style="margin-top:80px;">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-3">
                        <br/>
                        <div><img class="img-circle profile-image" src="images/avatar-1.jpg"></div>
                        <br/><br/>
                        <div><strong class="text-primary font16">Today : {{today}}</strong></div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 border-default">
                        <div class="panel panel-info shadow1 .md-whiteframe-9dp">
                            <div class="panel-heading text-center">
                                <strong>{{overview.summary.title}}</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong ng-repeat="description in overview.summary.description">{{description}}<br/><br/></strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em>{{overview.summary.footer}}</em>
                            </div>
                        </div>   
                    </div>
                </div>
                <hr/>                           
                        <!-- End of Row -->
                <div class="row">

                </div>

                <div class="row">
                  <div id="myCarousel" class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 carousel slide border-default" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                      <div class="item" ng-class="{active:isActive($index)}" ng-repeat="project in overview.projects">
                         <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong class="font20">{{project.title}}</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>{{project.objective}}</strong></p>
                                <p ng-repeat="detail in project.details">{{detail.description}}<br/></p>
                                <p><strong class="text-primary">Environment: </strong>{{project.environment}}</p>
                                <p class="pull-right"><em>{{project.caption.email}}</em></p>
                                <p class="pull-right"><em>{{project.caption.timespan}},&emsp;</em></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em></em>
                            </div>
                        </div>
                        <div class="carousel-caption">
                          <h3><a href="{{project.links.github}}" target="_blank"><strong>Github Link</strong></a></h3>
                          <p><a href="{{project.links.demo}}" target="_blank"><strong>Demo Link</strong></a></p>
                        </div>
                      </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev" 
                       style="height:95%;margin-left:1%">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next" 
                       style="height:95%;margin-right:1%">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <!-- End of Row -->
                <hr/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" width="560" height="315" 
                                      src="https://www.youtube.com/embed/bV5k5nc5DAE" frameborder="0" allowfullscreen>
                              </iframe>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" width="560" height="315" 
                                      src="http://www.kevinzengdev.com/" frameborder="0" allowfullscreen>
                              </iframe>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" width="560" height="315" 
                                      src="https://www.youtube.com/embed/bV5k5nc5DAE" frameborder="0" allowfullscreen>
                              </iframe>
                          </div>
                        </div>
                    </div>
                </div>
                        <!-- End of Row  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron col-md-12 shadow1">
                            <p class="col-md-12">Developer who is addicted to Agile Environment and Open Source Community</p>
                            <p class="col-md-6 col-md-offset-3">
                                <a class="btn btn-primary btn-lg col-md-4" role="button"
                                   href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Linkedin
                                   <span class="glyphicon glyphicon-user"></span></a>
                                <a class="btn btn-default btn-lg col-md-4" role="button"
                                   href="https://github.com/jaspardzc" target="_blank">Github
                                   <span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn btn-primary btn-lg col-md-4" role="button" style="background:#CF4438"
                                   href="" target="_blank">Google+
                                   <span class="glyphicon glyphicon-cloud"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                    <!-- End of Row  -->
            </div>
             <!-- End of Page Inner  -->
        </div>
         <!-- End of Page Wrapper  -->
    </div>
     <!-- End of Wrapper -->
</div>