<div class="col-md-12 col-sm-12 col-xs-12">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Latest Post</a> 
            </div>
            <div style="color: white;
                        padding: 15px 50px 5px 50px;
                        float: right;
                        font-size: 16px;"> Today : {{today}} &nbsp; 
                        <a href="#/contact" class="btn btn-danger square-btn-adjust">Contact Me</a> 
            </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <!-- <li class="text-center">   -->        
                    <li>
                        <a  href="#/post"><i class="fa fa-dashboard fa-3x"></i>Post 1</a>
                    </li>
                      <li>
                        <a  href="#/post"><i class="fa fa-desktop fa-3x"></i>Post 2</a>
                    </li>
                    <li  >
                        <a  href="#/post"><i class="fa fa-edit fa-3x"></i>Post 3</a>
                    </li>        
                </ul>
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>About Me</h2>   
                        <strong>Code, Eat, Play, Sleep, Repeat.</strong>
                    </div>
                </div>
                 <hr />                           
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Front End Programming Languages
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple footer
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Front End Frameworks and Libraries
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple footer
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Front End Projects Brief
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple footer
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Back End Programming Languages
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple footer
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Back End Frameworks and Libraries
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple Footer
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Front End Projects Brief
                        </div>
                        <div class="panel-body">
                            <p>Details Here</p>
                        </div>
                        <div class="panel-footer">
                            Just a simple Footer
                        </div>
                    </div>
                </div>
            </div>
                    <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Personal Projects Brief
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#first" data-toggle="tab">Project 1</a>
                                </li>
                                <li class=""><a href="#second" data-toggle="tab">Project 2</a>
                                </li>
                                <li class=""><a href="#third" data-toggle="tab">Project 3</a>
                                </li>
                                <li class=""><a href="#forth" data-toggle="tab">Project 4</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="first">
                                    <h4>Project - MyBlog</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade" id="second">
                                    <h4>Project - Android Voice Analyzer</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade" id="third">
                                    <h4>Project - Online Reservation System</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade" id="forth">
                                    <h4>Project - Circuit Analyzer and Veriog Converter</h4>
                                    <p>Project Details Here</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Enterprise Projects Brief
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#firstProject" data-toggle="tab">Project 1</a>
                                </li>
                                <li class=""><a href="#secondProject" data-toggle="tab">Project 2</a>
                                </li>
                                <li class=""><a href="#thirdProject" data-toggle="tab">Project 3</a>
                                </li>
                                <li class=""><a href="#forthProject" data-toggle="tab">Project 4</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade" id="firstProject">
                                    <h4>Project - EngageTranZform</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade" id="secondProject">
                                    <h4>Project - Refferal Management System</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade" id="thirdProject">
                                    <h4>Project - Risk and Compliance Management System</h4>
                                    <p>Project Details Here</p>
                                </div>
                                <div class="tab-pane fade active in" id="forthProject">
                                    <h4>Project - Medical Instrument Trading CRM System</h4>
                                    <p>Project Details Here</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="well">
                        <h4>Favorite Videos</h4>
                        <p>Videos Details</p>
                        <p>Put Carousel Here</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well well-lg">
                        <h4>Favorite Musics</h4>
                        <p>Music Details</p>
                        <p>Put Carousel Here</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well well-sm">
                        <h4>Favarite Books</h4>
                        <p>Books Details</p>
                        <p>Put Carousel Here</p>
                    </div>
                </div>
            </div>
                    <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <p>Developer who is addicted to Agile Environment and Open Source Community</p>
                        <p>
                            <a class="btn btn-primary btn-lg col-md-2 col-md-offset-2" role="button"
                               href="https://www.linkedin.com/in/kevin-zeng-38584a118">Follow Me on Linkedin</a>
                            <a class="btn btn-primary btn-lg col-md-2 col-md-offset-1" role="button"
                               href="https://github.com/jaspardzc">Follow Me on Github</a>
                            <a class="btn btn-primary btn-lg col-md-2 col-md-offset-1" role="button"
                               href="">Follow Me on Google+</a>
                        </p>
                    </div>
                </div>
            </div>
                    <!-- /. ROW  -->
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
</div>