<style>
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div id="wrapper">
        <div style="margin-top:80px;">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-3">
                        <br/>
                        <div><img class="img-circle profile-image" src="images/avatar-1.jpg"></div>
                        <br/><br/>
                        <div><strong class="text-primary font16">Today : {{today}}</strong></div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 border-default">
                        <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong>Summary</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>Experienced in Highly Complex Web Application Development, proficient in Spring, Maven, Web Services and Front-end Technologies. Addicted to Agile Environment and Open Source Community.</strong></p>
                                <p><strong>Proficient with Responsive Web Design and Material Design</strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em>Code, Eat, Play, Sleep, Repeat</em>
                            </div>
                        </div>   
                    </div>
                </div>
                <hr/>                           
                        <!-- /. ROW  -->

                <div class="row">
                  <div id="myCarousel" class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 carousel slide border-default" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                      <div class="item active">
                         <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong class="font20">Project - Blog</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Objective and Summary</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Environemnt and Skill Stack</strong></p>
                                <p><strong>Github Link and Misc</strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em></em>
                            </div>
                        </div>
                        <div class="carousel-caption">
                          <h3>kevinzengdev@gmail</h3>
                          <p>From April 2016 - Present</p>
                        </div>
                      </div>

                      <div class="item">
                         <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong class="font20">Project - Online Reservation System</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Objective and Summary</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Environemnt and Skill Stack</strong></p>
                                <p><strong>Github Link and Misc</strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em></em>
                            </div>
                        </div>
                        <div class="carousel-caption">
                          <h3>kevinzengdev@gmail</h3>
                          <p>From March 2015 - April 2016</p>
                        </div>
                      </div>
                    
                      <div class="item">
                         <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong class="font20">Project - Android Gourmet Guider</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Objective and Summary</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Environemnt and Skill Stack</strong></p>
                                <p><strong>Github Link and Misc</strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em></em>
                            </div>
                        </div>
                        <div class="carousel-caption">
                          <h3>kevinzengdev@gmail</h3>
                          <p>From December 2014 - May 2015</p>
                        </div>
                      </div>

                      <div class="item">
                         <div class="panel panel-info shadow1">
                            <div class="panel-heading text-center">
                                <strong class="font20">Project - Circuit Analyzer and Verilog Generator</strong>
                            </div>
                            <div class="panel-body">
                                <p><strong>Project Objective and Summary</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Details</strong></p>
                                <p><strong>Project Environemnt and Skill Stack</strong></p>
                                <p><strong>Github Link and Misc</strong></p>
                            </div>
                            <div class="panel-footer text-center">
                                <em></em>
                            </div>
                        </div>                       
                        <div class="carousel-caption">
                          <h3>kevinzengdev@gmail</h3>
                          <p>From April 2014 - December 2014</p>
                        </div>
                      </div>
                  
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <!-- End of Row -->
                <hr/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="well">
                            <h4>Favorite Videos</h4>
                            <p>Videos Details</p>
                            <p>Put Carousel Here</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                            <h4>Favorite Musics</h4>
                            <p>Music Details</p>
                            <p>Put Carousel Here</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-sm">
                            <h4>Favarite Books</h4>
                            <p>Books Details</p>
                            <p>Put Carousel Here</p>
                        </div>
                    </div>
                </div>
                        <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron col-md-12 shadow1">
                            <p class="col-md-12">Developer who is addicted to Agile Environment and Open Source Community</p>
                            <p class="col-md-6 col-md-offset-3">
                                <a class="btn btn-primary btn-lg col-md-4" role="button"
                                   href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Linkedin
                                   <span class="glyphicon glyphicon-user"></span></a>
                                <a class="btn btn-default btn-lg col-md-4" role="button"
                                   href="https://github.com/jaspardzc" target="_blank">Github
                                   <span class="glyphicon glyphicon-heart"></span></a>
                                <a class="btn btn-primary btn-lg col-md-4" role="button" style="background:#CF4438"
                                   href="" target="_blank">Google+
                                   <span class="glyphicon glyphicon-cloud"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                    <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
</div>