<div class="fluid-container col-md-12 col-sm-12 col-xs-12">
<!-- Main POST BLOCK -->
    <div id="wrapper">
    	<!-- Navigation Menu Start -->
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			<div style="color:white;padding: 15px 50px 5px 50px;float:right;font-size: 16px;"> 
				Today : 4/22/2016 &nbsp; 
				<a href="#" class="btn btn-danger square-btn-adjust">Contact Me</a> 
			</div>
        </nav>   
        <!-- Navigation Menu End  -->
        <!-- Page Content  -->
        <!-- <div id="page-wrapper"> -->
        <div>
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>POST Page</h2>   
                        <h5>Display the POSTs in DESC Order</h5>
                    </div>
                </div>              
                <!-- ROW END  -->
                <hr />
                <div class="row">
	                <div class="col-md-3 col-sm-6 col-xs-6">           
						<div class="panel panel-back noti-box">
			                <span class="icon-box bg-color-red set-icon">
			                    <i class="fa fa-envelope-o"></i>
			                </span>
			                <div class="text-box" >
			                    <p class="main-text">Angular</p>
			                    <p class="text-muted">Posts(10)</p>
			                </div>
			             </div>
					</div>
	                <div class="col-md-3 col-sm-6 col-xs-6">           
						<div class="panel panel-back noti-box">
	                		<span class="icon-box bg-color-green set-icon">
	                    		<i class="fa fa-bars"></i>
	                		</span>
	                		<div class="text-box" >
	                    		<p class="main-text">Spring</p>
	                    		<p class="text-muted">Posts(10)</p>
	                		</div>
	             		</div>
			     	</div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
						<div class="panel panel-back noti-box">
                			<span class="icon-box bg-color-blue set-icon">
                    			<i class="fa fa-bell-o"></i>
                			</span>
                			<div class="text-box" >
                    			<p class="main-text">MongoDB</p>
                    			<p class="text-muted">Posts(22)</p>
                			</div>
             			</div>
		     		</div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
						<div class="panel panel-back noti-box">
                			<span class="icon-box bg-color-brown set-icon">
                    			<i class="fa fa-rocket"></i>
                			</span>
		                <div class="text-box" >
		                    <p class="main-text">OpenFire</p>
		                    <p class="text-muted">Posts(10)</p>
		                </div>
             		</div>
		     	</div>
			</div>
            <!-- ROW END  -->
            <hr />       
            <div class="row">
	            <div class="col-md-9 col-sm-12 col-xs-12">           
					<div class="panel panel-back noti-box">
		                <span class="icon-box bg-color-blue">
		                    <i class="fa fa-warning"></i>
		                </span>
		                <div class="text-box" >
		                    <p class="main-text">Angular Service, Factory and Provider Comparison</p>
		                    <p class="text-muted">posted by: kevin zeng</p>
		                    <p class="text-muted">Post Created Date: 4/22/2016</p>
		                    <hr />
		                    <p class="text-muted">
		                        <span class="text-muted color-bottom-txt">
		                        	<i class="fa fa-edit"></i>
									Post Content Details 
		                        </span>
		                    </p>
		                </div>
		            </div>
			    </div>
	            <div class="col-md-3 col-sm-12 col-xs-12 ">
	                <div class="panel ">
			          <div class="main-temp-back">
			            <div class="panel-body">
			              <div class="row">
			                <div class="col-md-12">
			                	<i class="fa fa-cloud fa-3x"></i>Related Posts
			                </div>
			                <hr/>
			                <div class="col-md-12">
			                  <div class="text-info"><strong>Some related post hyperlink here</strong></div>
			                </div>
			              </div>
			            </div>
			          </div>
	      			</div>
	    		</div>
        	</div>
			<!-- ROW END  -->        
    	</div>
        <!-- PAGE INNER END  -->
    </div>
   	<!-- PAGE WRAPPER END -->
</div>
     <!-- CONTAINER WRAPPER END  -->
</div>
