<div class="fluid-container col-md-12 col-sm-12 col-xs-12">
<!-- Main POST BLOCK -->
    <div id="wrapper">
        <!-- Page Content  -->
        <div style="margin-top:80px;">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-3">
                     <h2 class="text-success">Timeline</h2>   
                        <select ng-model="query.timeline" ng-init="query.timeline">
                        	<option value="Latest Posts">Latest Posts</option>
                        	<option value="All Posts">All Posts</option>
                        </select>
                    </div>
                    <div class="col-md-9">
                     <h2 class="text-success">Search All the Posts</h2>   
                     <input class="col-md-6" type="text" placeholder="search the all the posts here"
                     		ng-model="query.search"/>
                     <span class="col-md-1 glyphicon glyphicon-search margin2 font16 mousePointer"
                     	   ng-click="doPostSearch()"></span>
                    </div>
                </div>              
                <!-- ROW END  -->
                <hr />
                <div class="row">
	                <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="category in posts.category">     
						<div class="panel panel-back noti-box">
			                <span class="icon-box bg-color-red set-icon mousePointer" 
			                	  ng-click="showCategory(category)"
			                	  ng-if="category.type === 'Angular'">
			                    <i class="fa fa-envelope-o"></i>
			                </span>
			                <span class="icon-box bg-color-green set-icon mousePointer" 
			                	  ng-click="showCategory(category)"
			                	  ng-if="category.type === 'Spring'">
			                    <i class="fa fa-envelope-o"></i>
			                </span>	
			                <span class="icon-box bg-color-blue set-icon mousePointer" 
			                	  ng-click="showCategory(category)"
			                	  ng-if="category.type === 'MongoDB'">
			                    <i class="fa fa-envelope-o"></i>
			                </span>	
			                <span class="icon-box bg-color-brown set-icon mousePointer" 
			                	  ng-click="showCategory(category)"
			                	  ng-if="category.type === 'OpenFire'">
			                    <i class="fa fa-envelope-o"></i>
			                </span>			                		                		                
			                <div class="text-box" >
			                    <p class="main-text mousePointer" 
			                       ng-click="showCategory(category)">{{category.type}}</p>
			                    <p class="text-muted mousePointer" 
			                       ng-click="showCategory(category)">Posts({{category.postCount}})</p>
			                </div>
			             </div>
					</div>
		     	</div>
            	<!-- ROW END  -->
	            <hr />       
	            <div class="row">
	            	<!-- Latest Post Content Block Start -->
		            <div class="col-md-9 col-sm-12 col-xs-12" 
		            	 ng-repeat="post in posts.latestPosts"
		            	 >   
						<div class="panel panel-back noti-box">
			                <span class="icon-box bg-color-blue">
			                    <i class="fa fa-warning"></i>
			                </span>
			                <div class="text-box" >
			                    <p class="main-text">{{post.title}}</p>
			                    <p class="text-muted">posted by: {{post.author}}</p>
			                    <p class="text-muted">Post Created Date: {{post.createdDate}}</p>
			                    <hr />
			                    <p class="text-muted">
			                        <span class="text-muted color-bottom-txt">
			                        	<i class="fa fa-edit"></i>
										{{post.contentLink}} 
			                        </span>
			                    </p>
			                </div>
			            </div>
				    </div>
				    <!-- Latest Post Content Block End -->
	            	<!-- Other Post Content Block Start -->
					<div class="col-md-12 col-sm-12 col-xs-12"
						 ng-if="query.timeline !== 'Latest Posts'">
						 <hr/>
						 <h2 class="text-info col-md-offset-5">History Posts</h2>
						 <hr/>
					</div>
		            <div class="col-md-9 col-sm-12 col-xs-12" 
		                 ng-repeat="post in posts.otherPosts"
		                 ng-if="query.timeline !== 'Latest Posts'">   
						<div class="panel panel-back noti-box">
			                <span class="icon-box bg-color-blue">
			                    <i class="fa fa-warning"></i>
			                </span>
			                <div class="text-box" >
			                    <p class="main-text">{{post.title}}</p>
			                    <p class="text-muted">posted by: {{post.author}}</p>
			                    <p class="text-muted">Post Created Date: {{post.createdDate}}</p>
			                    <hr />
			                    <p class="text-muted">
			                        <span class="text-muted color-bottom-txt">
			                        	<i class="fa fa-edit"></i>
										{{post.contentLink}} 
			                        </span>
			                    </p>
			                </div>
			            </div>
				    </div>
				    <!-- Other Post Content Block End -->
		            <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-9" style="position:absolute">
		                <div class="panel ">
				          <div class="">
				            <div class="panel-body">
				              <div class="row">
				                <div class="col-md-12">
				                	<i class="fa fa-cloud fa-3x"></i>
				                	<strong class="text-success">Highlighted Posts</strong>
				                </div>
				                <hr/>
				                <div class="col-md-12">
				                  <div class="text-info margin0">
				                  	<strong>
				                  		<a style="cursor:pointer">Highlighted Post 1, HyperLink Here</a>
				                  	</strong>
				                  </div>
				                  <div class="text-info margin0">
				                  	<strong>
				                  		<a style="cursor:pointer">Highlighted Post 2, HyperLink Here</a>
				                  	</strong>
				                  </div>
				                  <div class="text-info margin0">
				                  	<strong>
				                  		<a style="cursor:pointer">Highlighted Post 3, HyperLink Here</a>
				                  	</strong>
				                  </div> 
				                  <div class="text-info margin0">
				                  	<strong>
				                  		<a style="cursor:pointer">Highlighted Post 4, HyperLink Here</a>
				                  	</strong>
				                  </div>			                  			                  
				                </div>
				              </div>
				            </div>
				          </div>
		      			</div>
		    		</div>
	        	</div>
				<!-- ROW END  -->        
	    	</div>
	        <!-- PAGE INNER END  -->
	    </div>
	   	<!-- PAGE WRAPPER END -->
	</div>
     <!-- CONTAINER WRAPPER END  -->
</div>

