<div class="fluid-container col-md-12 col-sm-12 col-xs-12">
    <div id="wrapper">
        <!-- Page Content  -->
        <div style="margin-top:80px;">
            <div id="page-inner">
            	<div class="row">
            		<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default shadow1">
							<div class="panel-heading">
								<strong class="text-primary cursor-default">Skill Chart Brief</strong>
								<a class="pull-right decoration-default bg-success" href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Click Here for Details</a>
							</div>
							<div class="panel-body">
								<hr/>
								<img src="images/angularjs.png" alt="">
								<hr/>
								<div id="morris-donut-chart"></div>
							</div>
						</div> 					
					</div>
					<!-- Panel Block End -->
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default shadow1">
							<div class="panel-heading">
								<strong class="text-primary cursor-default">Industrial Experience Brief</strong>
								<a class="pull-right decoration-default bg-success" href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Click Here for Details</a>
							</div>
							<div class="panel-body">
								<div class="well">
									<blockquote class="blockquote-reverse bg-info">
										<p><strong class="font20">Senior Software Engineer</strong>
										   <span>Trizetto Corporation</span>
										   <small>November 2015 - Present | Phoenix, Arizona Area</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>
									<blockquote class="blockquote-reverse bg-info">
										<p><strong class="font20">Software Engineer</strong>
										   <span>Vensoft Inc</span>
										   <small>March 2015 - November 2015 | Glendale, Arizona Area</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>
									<blockquote class="blockquote-reverse bg-info">
										<p><strong class="font20">Software Engineer</strong>
										   <span>The University of Arizona</span>
										   <small>October 2013 - March 2015 | Tucson, Arizona Area</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>
									<blockquote class="blockquote-reverse bg-info">
										<p><strong class="font20">Software Engineer</strong>
										   <span>China Telecom Global</span>
										   <small>2011 - 2013 | Wuhan, Hubei, China</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>							
								</div>
							</div>
						</div> 					
					</div>
					<!-- Panel Block End -->
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default shadow1">
							<div class="panel-heading">
								<strong class="text-primary cursor-default">Education Brief</strong>
								<a class="pull-right decoration-default bg-success" href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Click Here for Details</a>
							</div>
							<div class="panel-body">
								<div class="well">
									<blockquote class="blockquote-reverse bg-success">
										<p><strong class="font20">Master of Science (M.S.), ECE</strong>
										   <span>The University of Arizona</span>
										   <small>2013 - 2015 | Tucson, Arizona Area</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>
									<blockquote class="blockquote-reverse bg-success">
										<p><strong class="font20">Bachelor of Engineering (B.E.), ECE</strong>
										   <span>The University of Arizona</span>
										   <small>2009 - 2013 | Wuhan, Hubei, China</small>
										</p>
										<footer>Linkedin Profolio 
											<cite title="Linkedin Profolio Link">
												<a href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>									
								</div>
							</div>
						</div> 					
					</div>	
					<!-- Panel Block End -->
					<!-- Panel Block Start -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="panel panel-default shadow1">
							<div class="panel-heading">
								<strong class="text-primary cursor-default">Recent Personal Projects Brief</strong>
								<a class="pull-right decoration-default bg-success" href="https://www.linkedin.com/in/kevin-zeng-38584a118" target="_blank">Click Here for Details</a>
							</div>
							<div class="panel-body">
								<div class="well">
									<blockquote class="blockquote-reverse bg-warning">
										<p><strong class="font20">My Blog</strong>
										   <span>Freelancer Web Developer</span>
										   <small>April 2015 - Present | Phoenix, Arizona Area</small>
										</p>
										<footer>Github Repository 
											<cite title="Github Repo Link">
												<a href="https://github.com/jaspardzc/Blog" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
									</blockquote>
									<blockquote class="blockquote-reverse bg-warning">
										<p><strong class="font20">OpenFire Server with Protobuf based Middleware</strong>
										   <span>Freelancer Backend Developer</span>
										   <small>April 2015 - Present | Phoenix, Arizona Area</small>
										</p>
										<footer> Docker Hub Repository
											<cite title="Docker Hub Repo Link">
												<a href="" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>
										<footer> Github Repository 
											<cite title="Github Repo Link">
												<a href="" target="_blank">Kevin Zeng</a>
											</cite>
										</footer>										
									</blockquote>									
								</div>
							</div>
						</div> 					
					</div>	
					<!-- Panel Block End -->				
				</div>
            </div>
        </div>
    </div>
</div>
<script>
Morris.Donut({
  element: 'morris-donut-chart',
  data: [
    {label: "AngularJS", value: 10},
    {label: "JQuery", value: 10},
    {label: "HTML", value: 10},
    {label: "CSS", value: 10},
    {label: "Java", value: 10},
    {label: "Spring", value: 10},
    {label: "Restful Web Service", value: 10},
    {label: "Maven", value: 10},
    {label: "Java EE", value: 10},
    {label: "OpenFire", value: 10}
  ]
});
</script>